body {
  background-color: rgb(148, 147, 224);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
#wrapper {
  border: 1px solid black;
  width: 98%;
  height: 1300px;
  margin: 0 auto;
}

div {
  padding: 5px;
}

#title {
  text-align: center;
  /*Snazim sa vycentrovat nadpis, aby sa nehybal pri maximalizacii okna prehliadaca.git */
}

#para1 {
  display: inline-block;
  background-color: rgb(104, 103, 185);
  width: 28%;
  height: 96%;
  margin: 1%;
  padding-top: 5px;
}

#para2 {
  display: inline-block;
  /*text-align: left;*/
  background-color: rgb(104, 103, 185);
  width: 64%;
  height: 96%;
  vertical-align: top;
  margin: 1%;
}

.heading {
  font-family: Cambria, serif;
  font-size: 1.8em;
}

h1 {
  color: black;
  margin-left: 20px;
  text-align: center;
  font-size: 3em;
  /*Preco nadpis Eva V... nezdedil 3em, ale zdedil 1.8em. Info o 3em je neskor, tak by mala mat prednost.*/
}

h2 {
  padding-left: inherit;
  font-size: 1.5em;
}
