body {
  background-color: lightblue;
  color: black;
  font-family: Times New Roman;
  font-size: 15px;
}
#wrapper {
  border: 1px solid black;
  overflow: hidden;
}

div {
  height: 500 px;
  width: 50 px;
  background-color: rgb(4, 218, 247);
  padding-left: 10px;
}

#para1 {
  text-align: left;
  background-color: violet;
  width: 230px;
  margin-top: 10px;
  margin-right: 950px;
}

#para2 {
  display: flex;
  text-align: left;
  background-color: tomato;
  margin-left: 250px;
}

#para3 {
  display: flex;
  text-align: left;
  background-color: salmon;
  margin-left: 250px;
}

h1 {
  color: black;
  margin-left:20px;
  text-align: center;
}

h2 {
  padding-left: inherit;
}

